/* top header */
.w3l-top-header {
    background: $primary-color;
    padding: 14px 15px;
  }
  
  .w3l-top-header .top-headers li a,
  .w3l-top-header .top-headers li {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  
  .w3l-top-header .top-headers li a:hover {
    color: $secondary-color;
  }
  
  .w3l-top-header .top-headers li i {
    margin-right: 8px;
  }
  
  .w3l-top-header .top-headers li {
    display: inline-block;
    margin-right: 2em;
  }
  
  @media only screen and (max-width: 780px) {
    .w3l-top-header .top-headers li {
      margin-right: 1em;
    }
  }
  
  @media only screen and (max-width: 680px) {
    .top-content-w3ls {
      display: block !important;
    }
  
    .top-headers-2 {
      margin-top: 4px;
    }
  
    .top-headers {
      text-align: center;
    }
  
    .w3l-top-header {
      padding: 14px 0px;
    }
  }
  
  @media only screen and (max-width:390px) {
    .w3l-top-header .top-headers li {
      margin-right: .5em;
    }
  }
  
  @media only screen and (max-width:380px) {
    .cont-ser-position {
      top: 17px;
    }
  
    .w3l-top-header .top-headers li i {
      margin-right: 4px;
    }
  }
  
  /* //top header */



  /* header */
/* navigation styling */
.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: $logo-color;
    font-weight: 600;
  }
  
  .navbar .navbar-brand span,
  .w3l-footer-22 a.footer-logo span {
    font-weight: bold;
    border: 2px solid #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    margin-right: 2px;
  }
  
  .w3l-footer-22 a.footer-logo span {
    border: 2px solid #333;
  }
  
  a.navbar-brand:hover {
    color: $secondary-color;
  }
  
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative;
  }
  
  /* .navbar-expand-lg .navbar-nav .show>.nav-link,
  .navbar-expand-lg .navbar-nav .active>.nav-link,
  .navbar-expand-lg .navbar-nav .nav-link.show */
  .navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
  .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: $secondary-color;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 6px 0;
    font-size: 16px;
    color: $heading-color;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .navbar-expand-lg a.nav-link.donate.btn.btn-style {
    display: block;
    padding: 0px 30px;
    color: #fff;
    height: 46px;
    font-size: 16px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: 4px;
  }
  
  a.dropdown-item {
    font-size: 16px;
    color: $heading-color;
    padding: 5px 24px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  a.dropdown-item:hover {
    color: $secondary-color;
    background: none;
  }
  
  a.dropdown-item.active {
    background: transparent;
    color: $primary-color;
  }
  
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
    background: $bg-color;
    border: 1px solid $border-color;
    box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
  }
  
  .navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: $bg-color;
    border: 1px solid $border-color;
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
  }
  
  header {
    background-color: transparent;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    /* box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05); */
  }
  
  header.nav-fixed {
    padding: 0px;
    border-bottom: none;
    z-index: 999 !important;
    background-color: $bg-color;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    height: 70px;
    /* for z-index:10 to display gallery popup */
  }
  
  header.nav-fixed nav.navbar.navbar-expand-lg.stroke {
    box-shadow: none;
    border-radius: 0px;
    padding: .5rem 1rem;
  }
  
  .navbar-nav .show>,
  .navbar-nav .nav-link.show {
    color: #7C6A6A;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  
  nav ul li a:hover {
    color: #fff;
  }
  
  .navbar-nav .nav-link:focus {
    color: $secondary-color;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .dropdown-menu {
    min-width: 12rem;
    padding: 1rem 0;
  }
  
  .nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
    color: $heading-color;
  }
  
  .nav-fixed .navbar-brand {
    color: $logo-color;
  }
  
  .nav-fixed .navbar-brand span {
    border: 2px solid #333;
  }
  
  .nav-fixed .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: $primary-color;
  }
  
  .nav-fixed .navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
  .nav-fixed .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: $secondary-color;
  }
  
  .navbar .search-right {
    margin: 0 10px 0 10px;
  }
  
  .navbar form.search-box {
    display: flex;
    align-items: center;
  }
  
  .navbar form.search-box input {
    font-size: 15px;
    color: $heading-color;
    border: none;
    background: transparent;
    padding: 10px 35px 10px 14px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid #eee;
  }
  
  .nav-fixed .navbar form.search-box input {
    border: 2px solid #eee;
    color: $heading-color;
  }
  
  button.search-btn {
    position: absolute;
    color: $primary-color;
    right: 0;
    padding: 8px 12px 8px 2px;
  }
  
  button.search-btn:hover {
    color: $secondary-color;
  }
  
  @media only screen and (max-width: 1440px) {
    .navbar-expand-lg .nav_btn>li {
      padding: 0;
    }
  }
  
  @media only screen and (max-width: 1199px) {
    .navbar-expand-lg .btn-gradient {
      padding: 10px 20px;
      font-size: 14px;
    }
  
    .navbar-expand-lg .navbar-nav.nav_btn>li {
      margin-left: 0px;
    }
  
    .navbar-expand-lg .navbar-nav.nav_btn a.btn {
      padding: 10px 20px;
    }
  
    .navbar-expand-lg .navbar-nav.nav_btn a {
      font-size: 14px;
      padding: 0px;
    }
  
    .navbar-expand-lg .navbar-nav .nav-item {
      padding: 0 8px;
    }
  }
  
  @media only screen and (max-width: 1080px) {
    .navbar-expand-lg .navbar-nav .nav-item {
      padding: 0 4px;
    }
  
    .navbar-expand-lg .navbar-nav .nav-link {
      padding: 6px 6px;
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .navbar form.search-box input {
      color: #111;
    }
  
    .navbar form.search-box input {
      border: 1px solid #eee;
    }
  
    .navbar .navbar-brand img {
      max-width: 54px;
    }
  
    .navbar-toggler {
      border: 0 none;
      font-size: 24px;
    }
  
    .navbar-nav {
      -webkit-animation-name: none;
      animation-name: none;
      float: left;
      text-align: center;
      width: 100%;
      background: $bg-color;
      padding: 20px;
      margin-top: 16px;
      box-shadow: 0 6px 19px rgba(0, 0, 0, 0.05);
    }
  
    .navbar-nav:last-child {
      border: 1px solid $border-color;
    }
  
    .navbar-expand-lg .navbar-nav .nav-item {
      -webkit-animation-name: none;
      animation-name: none;
      padding: 8px 0;
    }
  
    .navbar-expand-lg .navbar-nav.nav_btn>li {
      padding-bottom: 10px;
    }
  
    .navbar-nav .dropdown-menu {
      text-align: center;
    }
  
    .navbar-nav .dropdown-menu .dropdown-menu {
      background-color: rgba(0, 0, 0, 0.3);
    }
  
    .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
      bottom: 0;
    }
  
    .navbar-expand-lg .navbar-nav .nav-link {
      display: inline-block;
      padding: 2px 10px;
      text-align: center;
      font-size: 15px;
    }
  
    header {
      height: auto;
    }
  
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      transform: translateX(0px);
      border: 1px solid $border-color-light;
    }
  
    .navbar-expand-lg .navbar-nav .dropdown-menu:before {
      border: 1px solid $border-color-light;
      border-right: none;
      border-bottom: none;
    }
  
    header.nav-fixed {
      height: auto;
      padding: 0;
    }
  
    .navbar-expand-lg .navbar-nav .nav-link {
      display: block;
      color: $heading-color;
    }
  
    .navbar-toggler-icon {
      background-image: none;
      padding: 0;
      width: 34px;
      height: 34px;
      display: inline-block;
      background: #272121;
      border-radius: 4px;
      text-align: center;
    }
  
    .navbar-toggler-icon.fa {
      font-size: 20px;
      line-height: 1.2em;
      color: #fff;
      background: $primary-color;
      line-height: 34px;
    }
  
    .navbar-toggler {
      padding: 0rem 0rem !important;
    }
  
    .navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
    .navbar-expand-lg .navbar-nav .nav-link:hover {
      color: $primary-color;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .navbar-expand-lg a.nav-link.donate.btn.btn-style {
      display: inline-block;
      padding: 0px 40px;
    }
  
    button.navbar-toggler .icon-close {
      display: block;
    }
  
    button.navbar-toggler .icon-expand {
      display: none;
    }
  
    button.navbar-toggler.collapsed .icon-close {
      display: none;
    }
  
    button.navbar-toggler.collapsed .icon-expand {
      display: block;
    }
  
    .cont-ser-position {
      position: absolute;
      right: 50px;
      top: 22px;
    }
  
    .navbar,
    header.nav-fixed nav.navbar.navbar-expand-lg.stroke {
      padding: 0.5rem 0rem;
    }
  
    .w3l-top-header {
      display: none;
    }
  
    .fixed-top {
      position: fixed;
    }
  
    header {
      background: $bg-color;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .navbar .navbar-brand {
      font-size: 28px;
    }
  
    .navbar .navbar-brand span,
    .w3l-footer-22 a.footer-logo span {
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  
    a.navbar-brand i {
      font-size: 28px;
    }
  
    .cont-ser-position {
      right: 45px;
    }
  
    header.nav-fixed nav.navbar.navbar-expand-lg.stroke {
      padding: .5rem 0rem;
    }
  }
  
  @media only screen and (max-width: 380px) {
    a.navbar-brand i {
      font-size: 24px;
    }
  
    .navbar .navbar-brand {
      font-size: 24px;
    }
  
    .navbar .navbar-brand img {
      max-width: 38px;
    }
  
    .navbar .navbar-brand span,
    .w3l-footer-22 a.footer-logo span {
      width: 35px;
      height: 35px;
      line-height: 35px;
    }
  }
  
  /* //navigation styling */
  /* //header  */